RewriteEngine On

# Bloquear acceso directo a src
RewriteRule ^src(/|$) - [F,L]

# Redirigir todas las solicitudes al enrutador de la carpeta public
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /public/index.php [L]

Options -Indexes